{% extends 'base.twig' %}

{% block body %}
    <h2>ToDo List</h2>
    <div id="todolist">
        {% for todo in todolist if todolist %}
            <ul>
                <li>{{ todo }} - <a href="api/remove/{{ todo }}" style="font-size: 20px">&#128500;</a></li>
            </ul>
        {% else %}
            <p>Rien à faire aujourd'hui, prenez du temps pour vous :)</p>
        {% endfor %}
    </div>

    <form action="/api/add" method="post">
        <label for="todo">Que dois-je faire ?</label>
        <input id="todo" type="text" name="newTodo">
        <button type="submit">Valider</button>
    </form>
{% endblock %}

{% block javascripts %}
{% endblock %}